<%- include('./partials/header'); %>
        
        <ul class="boxes">
            
            <% data.forEach(cat => { %>
                <li class="box">
                    <h2><a href="/area/<%=cat.strArea%>"><%= cat.strArea %></a></h2>
                    <!-- <p class="tip">Served to brave people in our notorious antique tea cups.</p> -->
                    <dl>
                        <dt><%= cat.strMealThumb %></dt>
                        <img src="<%= cat.strMealThumb %>" alt="<%= cat.strMeal %>">
                        
                    </dl>
                </li>
            <% })  %>
    
        </ul>
    
    </div>
</body>
</html>