<%- include('./partials/header'); %>
    
        <ul class="boxes">
            <li class="box meal">         
                <p> Hello, welcome to my new site, I want you to find a meal !</p>
                <p>First, choose a way to find  one.</p>             
            </li>
    
        </ul>
        <ul class="boxes">
            <li class="box">
                <h2><a href="/categories/">Choose meal from categories</a></h2>  
                <p class="tip"><a href="/category/<%= cat.strCategory %>">Category example: <%= cat.strCategory %></a></p>
                <a href="/meal/<%=cat.strMeal%>"><img src="<%= cat.strMealThumb %>" alt="<%= cat.strMeal %>" class="imgHome"></a> 

            </li>

            <li class="box">
                <h2><a href="/areas/">Choose meal from a specific area</a></h2>
                <p class="tip"><a href="/area/<%= area.strArea %>">Area example: <%= area.strArea %></a></p>
                <a href="/meal/<%=area.strMeal%>"><img src="<%= area.strMealThumb %>" alt="<%= area.strMeal %>" class="imgHome" class="imgHome">    </a>          
            </li>

            <li class="box">
                <h2><a href="/random/">Pick a random meal</a></h2>   
                <p class="tip">e.g: <%= random.strMeal %></p>  
                <a href="/meal/<%=random.strMeal%>"><img src="<%= random.strMealThumb %>" alt="<%= random.strMeal %>" class="imgHome"></a>          
            </li>
    
        </ul>
    </div>
</body>
</html>